<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.statisanalysis.dao.OwnerAmountDao">
    <!--<select id="getOwnerInfo" parameterType="java.util.Map" resultType="java.util.Date">
        select create_date from t_dog_owner where create_date <![CDATA[ < ]]> #{endTime}
    </select>-->

    <select id="getOwnerCreateDate1" parameterType="map" resultType="java.util.Date">
         select owner.create_date from t_dog_owner owner
         <where>
             owner.create_date <![CDATA[ < ]]> #{nextMonth}
             <if test="orgId != null">and owner.org_id = #{orgId}</if>
             <if test="operatorId != null">and owner.operator_id = #{operatorId}</if>
         </where>
    </select>
    <select id="getOwnerCreateDate2" parameterType="map" resultType="java.util.Date">
        select owner.create_date from t_dog_owner owner
            where owner.org_id in (
            select org.id from t_org_info org
            where org.area_id = #{areaId}
        )  and owner.create_date <![CDATA[ < ]]> #{nextMonth}
    </select>
    <select id="getOwnerCreateDate3" parameterType="map" resultType="java.util.Date">
        select owner.create_date from t_dog_owner owner
            where owner.create_date <![CDATA[ < ]]> #{nextMonth} and owner.org_id in (
            select org2.id
                from t_org_info org2
                where org2.pid in (select org.id from t_org_info org where org.area_id = #{areaId}))
    </select>

    <select id="getOwnerNumCount" parameterType="map" resultType="java.util.Date">
        select owner.create_date from t_dog_owner owner
        <where>
            owner.create_date <![CDATA[ < ]]> #{nextMonth}
            <if test="operatorId != null">and owner.operator_id = #{operatorId}</if>
            <if test="orgList != null and orgList.size > 0">and owner.org_id in
                <foreach collection="orgList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>