<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="atshunhengli.com.mapper.TDeviceDataMapper">

    <!--批量插入设备数据-->
    <insert id="saveDatas" parameterType="com.entities.DeviceRecord">
            INSERT INTO t_device_record
            (
                `lng`,
                `lat`,
            id, device_no, `quantity`, `data_time`,`upload_time`, `data_type`, `create_date`,trace_id)
            VALUES
        <foreach collection="datas" item="data"  separator=",">
            (
                #{data.lng},
                #{data.lat},
            #{data.id},
            #{data.deviceNo},#{data.quantity},#{data.dataTime},#{data.uploadTime},
            #{data.dataType},#{data.createDate},#{data.traceId})
        </foreach>
    </insert>

</mapper>