<!doctype html>
<html>
<head th:include="include :: header">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=9"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Title</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!--[if lt IE 9]>
<script src="https:// oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
</script>
<script src="https:// oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
</script>
<![endif]-->
</head>
<body oncontextmenu=self.event.returnValue=false onselectstart="return false"> 
<!--wrap-->
<div class="wrap">

<!--内容栏-->
<div class="section2">
	<!--面包屑-->
	<div class="tit pdl50">
		<ul class="ul03 ovh">
			<li class="fl"><a href="###" th:text="#{materialManage}">物资管理</a>></li>
			<li class="fl"><a href="/biz/goodsInfo" th:text="#{materialManage.protectiveCommodityIssue}">防护物资发放</a>></li>
			<li class="fl" th:text="#{binformation.checkDetails}">查看详情</li>
		</ul>
	</div>
	<!--面包屑END-->
	
	<!--内容区-->
	<div class="pdl50 pdr50 pdt25 pdb75">
		<p class="fs16 cor0"><span th:text="#{binformation.checkDetails}">查看详情</span> <a href="javascript:window.history.back(-1);" class="dinb fr hov8"><img src="/images/42.png" alt=""></a></p>

		<div class="mgt25">
			<table width="100%" border="1" class="t-c table999-1">
				<tbody>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{materialManage.materialType}">物资类型</td>
						<td class="cor9 ww30 h54" th:text="${goodsInfoVO.goodsTypeName}"></td>
						<td class="cor0 ww20 h54" th:text="#{materialManage.nameGoods}">物资名称</td>
						<td class="cor9 ww30 h54" th:text="${goodsInfoVO.goodsName}"></td>
					</tr>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{materialManage.issueNumber}">发放数量</td>
						<td class="cor9 ww30 h54" th:text="${goodsInfoVO.goodsAmount}"></td>
						<td class="cor0 ww20 h54" th:text="#{materialManage.issuingUnit}">发放单位</td>
						<td class="cor9 ww30 h54" th:text="${goodsInfoVO.distributorName}"></td>
					</tr>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{materialManage.outTime}">发放时间</td>
						<td class="cor9 ww30 h54" th:text="${#dates.format(goodsInfoVO.distributeDate,'yyyy-MM-dd')}"></td>
						<td class="cor0 ww20 h54" th:text="#{materialManage.recipient}">接收人</td>
						<td class="cor9 ww30 h54" th:text="${goodsInfoVO.receiverName}"></td>
					</tr>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{materialManage.note}">备注</td>
						<td class="cor9 ww30 h54"  style="word-break: break-all"  colspan="3" th:text="${goodsInfoVO.remark}"></td>
					</tr>
				</tbody>
			</table>
		</div>



	</div>
	<!--内容区END-->

	<!--分页-->
	<!--<div class="fen mgb75">
		<ul class="ul06 ovh t-c w408 c-b">
			<li class="fl"><a href="###" class="db w36">1</a></li>
			<li class="fl active"><a href="###" class="db w36">2</a></li>
			<li class="fl"><a href="###" class="db w36">3</a></li>
			<li class="fl"><a href="###" class="db w36">4</a></li>
			<li class="fl"><a href="###" class="db w36">5</a></li>
			<li class="fl w36"><img src="/images/13-3.png" alt=""></li>
			<li class="fl"><a href="###" class="db w36">99</a></li>
			<li class="fl curr"><a href="###" class="db w60"></a></li>
			<li class="fl"><a href="###" class="db w60"></a></li>
		</ul>
	</div>-->
	<!--分页END-->
</div>
<!--内容栏END-->
	
</div>
<div th:include="include::footer"></div>
<!--wrap End-->
</body>
</html>
