<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=9"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>A19-犬只更换记录</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/css.css">
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/js.js"></script>
<!--[if lt IE 9]>
<script src="https:// oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
</script>
<script src="https:// oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
</script>
<![endif]-->
</head>
<body oncontextmenu=self.event.returnValue=false onselectstart="return false"> 
<!--wrap-->
<div class="wrap">

<!--内容栏-->
<div class="section2">
	<!--面包屑-->
	<div class="tit pdl0">
		<ul class="ul03 ovh" style="margin-left: -25px;">
			<li class="fl"><a href="###">组织权限></a></li>
			<li class="fl"><a href="###">组织管理></a></li>
			<li class="fl">新增犬只</li>
		</ul>
	</div>
	<!--面包屑END-->
	
	<!--内容区-->
	<div class="pdt20 pdb75">
		<form action="#">
			<div class="pdl0 pdr50">
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*所属乡镇</div>
					<div class="mgl90">
						<select class="ww30 h50 lh50 bore ras4 pdl30 cor9 pc22" style="margin-right: .75%;">
							<option value="1">州</option>
						</select>
						<select class="ww30 h50 lh50 bore ras4 pdl30 cor9 pc22" style="margin-right: .75%;">
							<option value="1">县</option>
						</select>
						<select class="ww30 h50 lh50 bore ras4 pdl30 cor9 pc22">
							<option value="1">乡</option>
						</select>
					</div>
				</div>
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*上级部门</div>
					<div class="mgl90">
						<input type="text" class="ww92 h50 lh50 bore ras4 pdl30" placeholder="">
					</div>
				</div>
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*部门名称</div>
					<div class="mgl90">
						<input type="text" class="ww92 h50 lh50 bore ras4 pdl30" placeholder="">
					</div>
				</div>
				
				<!--<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*联系方式</div>
					<div class="mgl90">
						<input type="text" class="ww92 h50 lh50 bore ras4 pdl30" placeholder="">
					</div>
				</div>
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*所属组织</div>
					<div class="mgl90">
						<select class="ww92 h50 lh50 bore ras4 pdl30 cor9 pc22">
							<option value="1">兽医总站</option>
							<option value="1">兽医总站</option>
						</select>
					</div>
				</div>
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*所属角色</div>
					<div class="mgl90 ovh pdt17">
						<ul class="fl ovh">
							<li class="fl mgr50">
								<label class="lab1"><input type="checkbox" checked><i style="margin-right: 10px;"></i>管理员</label>
							</li>
							<li class="fl mgr50">
								<label class="lab1"><input type="checkbox"><i style="margin-right: 10px;"></i>州级管理员</label>
							</li>
							<li class="fl mgr50">
								<label class="lab1"><input type="checkbox"><i style="margin-right: 10px;"></i>县级管理员</label>
							</li>
							<li class="fl mgr50">
								<label class="lab1"><input type="checkbox"><i style="margin-right: 10px;"></i>乡级管理员</label>
							</li>
							<li class="fl mgr50">
								<label class="lab1"><input type="checkbox"><i style="margin-right: 10px;"></i>防疫员</label>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">*视频</div>
					<div class="mgl90 ovh">
						<div class="file rel">
							<input type="file">
							<img src="images/44.png"> 
						</div>
					</div>
				</div>
				
				<div class="ovh mgt10">
					<div class="fl w70 cor3 h50 lh50 t-r">描述</div>
					<div class="mgl90">
						<textarea class="ww92 h140 bore pdl30 pdt10 pdb10 pdr30" placeholder="10年"></textarea>
					</div>
				</div>-->
				
				<div class="ovh mgt85">
					<div class="mgl90">
						<input class="a6 dinb bort hov8" type="submit" value="保存">
						<a href="###" class="a6 dinb hov8">取消</a>
						<a href="###" class="a6 dinb hov8">返回</a>
					</div>
				</div>
				
			</div>
		</form>
	</div>
	<!--内容区END-->
	
</div>
<!--内容栏END-->
	
</div>
<!--wrap End-->
</body>
</html>
