<!doctype html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body oncontextmenu=self.event.returnValue=false onselectstart="return false"> 
<div th:include="include::footer"></div>
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
	<div id="innerdiv" style="position:absolute;">
		<img id="bigimg" style="border:5px solid #fff;" src="" />
	</div>
</div>
<div class="wrap">

<!--内容栏-->
<div class="section2">
	<!--面包屑-->
	<div class="tit pdl50">
		<ul class="ul03 ovh">
			<li class="fl"><a href="###"th:text="#{antiepidemicManage}">防疫管理></a></li>
			<li class="fl"><a href="/biz/infectionInfo/toInfectionInfo_List" th:text="#{antiepidemicManage.infectionInfo}">牛羊感染及病变脏器处理></a></li>
			<li class="fl" th:text="#{dogManage.viewDetail2}">查看详情</li>
		</ul>
	</div>
	<!--面包屑END-->
	
	<!--内容区-->
	<div class="pdl50 pdr50 pdt25 pdb75">
		<p class="fs16 cor0"th:text="#{dogManage.viewDetail}">查看详情 <a href="/biz/infectionInfo/toInfectionInfo_List" class="dinb fr hov8"><img src="/images/42.png" alt=""></a></p>
		
		<div class="mgt25">
			<table width="100%" border="1" class="t-c table999-1">
				<tbody>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{antiepidemicManage.surveyNum}">调查数(公斤)</td>
						<td class="cor9 ww30 h54" th:text="${detail.detectionAmount}"></td>
						<td class="cor0 ww20 h54" th:text="#{antiepidemicManage.infectionNum}">感染数(公斤)</td>
						<td class="cor9 ww30 h54" th:text="${detail.infectionAmount}"></td>
					</tr>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{antiepidemicManage.harmlessTreatNum}">无害化处理数(公斤)</td>
						<td class="cor9 ww30 h54" th:text="${detail.harmlessTreatAmount}"></td>
						<td class="cor0 ww20 h54" th:text="#{antiepidemicManage.detectionTime}">检测时间</td>
						<td class="cor9 ww30 h54" th:text="${#dates.format(detail.detectionDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					<tr>
						<td class="cor0 ww20 h54" th:text="#{antiepidemicManage.dectectOrg}">检测单位</td>
						<td class="cor9 ww30 h54" colspan="3"
							th:text="${detail.orgInfo==null}?'':${detail.orgInfo.departName}">
						</td>
					</tr>
					<tr>
						<td class="cor0 ww20 pdt22 pdb136" th:text="#{dogManage.dogPhoto}">照片</td>
						<td class="cor9 ww30 pdt22 pdb60">
							<div th:if="${not #lists.isEmpty(imageList)}">
								<span th:each="picUrl:${imageList}">
									<img th:src="${picUrl.thumbnailUrl}" th:onclick="'javascript:openImgShow(&quot;'+${picUrl.url}+'&quot;);'">
								</span>							
							</div>
						</td>
						<td class="cor0 ww20 pdt22 pdb136" th:text="#{antiepidemicManage.video}">视频</td>
						<td class="cor9 ww30 pdt22 pdb60">
							<div th:if="${not #lists.isEmpty(videoList)}">
								<video th:src="${videoList[0].url}" controls="controls"> 
								 </video>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
	</div>

</div>
<!--内容栏END-->
	
</div>
<!--wrap End-->
</body>
</html>
