<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devicemanagement.dao.DeviceInfoDao">

	<select id="get" resultType="map">
		<include refid="base"></include>
		where id = #{value} and
		device.import_by = #{userId}
		<!--<foreach collection="orgIds" index="index" item="orgId" open="(" separator="," close=")">-->
			<!--#{orgId}-->
		<!--</foreach>-->

	</select>

	<sql id="base">
		select device.status,deadline,device.id,device_no deviceNo,brand,model,date_of_production dateOfPro,
		 activate_time activateTime,freeze_time freezeTime,receive_time receiveTime,org.depart_name departName
		 from t_device_info device LEFT JOIN t_org_info org on device.receive_org = org.id
	</sql>

	<!--根据设备编号进行查询-->
	<select id="selectByDeviceNo" resultType="map">
		<include refid="base"></include>
		<where>
			1=1
			<if test="deviceNo != null and deviceNo != ''"> and device_no = #{deviceNo} </if>
			<if test="userId != null and userId != ''"> and device.import_by = #{userId}  </if>
			<!--<if test="orgIds !=null and orgIds.size()>0">-->
				<!--and device.org_id  in-->
				<!--<foreach collection="orgIds" index="index" item="orgId" open="(" separator="," close=")">-->
					<!--#{orgId}-->
				<!--</foreach>-->
			<!--</if>-->
		</where>
	</select>

	<select id="list" resultType="map">
		<include refid="base"></include>
		<where>
		  		  <!--<if test="id != null and id != ''"> and id = #{id} </if>-->
		  		  <if test="deviceNo != null and deviceNo != ''"> and device.device_no = #{deviceNo} </if>
		  		  <if test="status != null and status != ''"> and device.status = #{status} </if>
		  		  <!--<if test="brand != null and brand != ''"> and brand = #{brand} </if>-->
		  		  <!--<if test="model != null and model != ''"> and model = #{model} </if>-->
		  		  <!--<if test="dateOfProduction != null and dateOfProduction != ''"> and date_of_production = #{dateOfProduction} </if>-->
		  		  <!--<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>-->
		  		  <!--<if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>-->
		  		  <!--<if test="wirteOffTime != null and wirteOffTime != ''"> and wirte_off_time = #{wirteOffTime} </if>-->
		  		  <if test="userId != null and userId != ''"> and device.import_by = #{userId}  </if>
					<!--<if test="orgIds !=null and orgIds.size()>0">-->
						<!--and device.org_id  in-->
						<!--<foreach collection="orgIds" index="index" item="orgId" open="(" separator="," close=")">-->
							<!--#{orgId}-->
						<!--</foreach>-->
					<!--</if>-->
		  		  <!--<if test="receiveOrg != null and receiveOrg != ''"> and receive_org = #{receiveOrg} </if>-->
		  		  <!--<if test="receiver != null and receiver != ''"> and receiver = #{receiver} </if>-->
		  		  <!--<if test="receiveTime != null and receiveTime != ''"> and receive_time = #{receiveTime} </if>-->
		  		  <!--<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>-->
		  		  <!--<if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>-->
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by device.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*)
		from t_device_info device LEFT JOIN t_org_info org
		on device.receive_org = org.id
		 <where>
			 <!--<if test="id != null and id != ''"> and id = #{id} </if>-->
			 <if test="deviceNo != null and deviceNo != ''"> and device.device_no = #{deviceNo} </if>
			 <if test="status != null and status != ''"> and device.status = #{status} </if>
			 <!--<if test="brand != null and brand != ''"> and brand = #{brand} </if>-->
			 <!--<if test="model != null and model != ''"> and model = #{model} </if>-->
			 <!--<if test="dateOfProduction != null and dateOfProduction != ''"> and date_of_production = #{dateOfProduction} </if>-->
			 <!--<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>-->
			 <if test="userId != null and userId != ''"> and device.import_by = #{userId}  </if>
			 <!--<if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>-->
			 <!--<if test="wirteOffTime != null and wirteOffTime != ''"> and wirte_off_time = #{wirteOffTime} </if>-->
			 <!--<if test="orgIds != null and orgIds != ''"> and device.org_id in (#{orgIds})  </if>-->
			 <!--<if test="orgIds !=null and orgIds.size()>0">-->
				 <!--and device.org_id  in-->
				 <!--<foreach collection="orgIds" index="index" item="orgId" open="(" separator="," close=")">-->
					 <!--#{orgId}-->
				 <!--</foreach>-->
			 <!--</if>-->
			 <!--<if test="receiveOrg != null and receiveOrg != ''"> and receive_org = #{receiveOrg} </if>-->
			 <!--<if test="receiver != null and receiver != ''"> and receiver = #{receiver} </if>-->
			 <!--<if test="receiveTime != null and receiveTime != ''"> and receive_time = #{receiveTime} </if>-->
			 <!--<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>-->
			 <!--<if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>-->
		 </where>
	</select>
	 
	<insert id="save" parameterType="com.entities.DeviceInfo" useGeneratedKeys="true" keyProperty="id">
		insert into t_device_info
		(
			`device_no`, 
			`status`, 
			`brand`, 
			`model`, 
			`date_of_production`, 
			`remarks`, 
			`type`, 
			`start_time`, 
			`wirte_off_time`, 
			`org_id`, 
			`receive_org`, 
			`receiver`, 
			`receive_time`, 
			`create_date`, 
			`update_date`, 
			`is_distribution`
		)
		values
		(
			#{deviceNo}, 
			#{status}, 
			#{brand}, 
			#{model}, 
			#{dateOfProduction}, 
			#{remarks}, 
			#{type}, 
			#{startTime}, 
			#{wirteOffTime}, 
			#{orgId}, 
			#{receiveOrg}, 
			#{receiver}, 
			#{receiveTime}, 
			#{createDate}, 
			#{updateDate}, 
			#{isDistribution}
		)
	</insert>
	 
	<update id="update" parameterType="map">
		update t_device_info 
		<set>
			<if test="deviceNo != null">`device_no` = #{deviceNo}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="brand != null">`brand` = #{brand}, </if>
			<if test="model != null">`model` = #{model}, </if>
			<if test="dateOfProduction != null">`date_of_production` = #{dateOfProduction}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="startTime != null">`start_time` = #{startTime}, </if>
			<if test="wirteOffTime != null">`wirte_off_time` = #{wirteOffTime}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="receiveOrg != null">`receive_org` = #{receiveOrg}, </if>
			<if test="receiver != null">`receiver` = #{receiver}, </if>
			<if test="receiveTime != null">`receive_time` = #{receiveTime}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="isDistribution != null">`is_distribution` = #{isDistribution}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_device_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_device_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>



	<!--批量添加-->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_device_info
		(
		`imei`,
		`device_no`,
		`brand`,
		`model`,
		`type`,
		`batch`,
		`firm`,
		`date_of_production`,
		deadline,
		org_id,
		import_by
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.imei},#{item.device_no},#{item.brand},#{item.model},#{item.type}
			,#{item.batch},#{item.firm},#{item.dateOfProduction},#{item.deadline},#{item.deptId},#{item.importBy})
		</foreach>
	</insert>

</mapper>